// @import "./root.scss";
.banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  .flicking-viewport {
    width: 100%;
    aspect-ratio: 128/50;
    min-height: 500px;
    margin: 0 auto;
  }
  .panel {
    overflow: hidden;
  }
  img {
    height: 100%;
  }
}
