@import "./variable.scss";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "GmarketSansLight";
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
}
body {
  font-family: "GmarketSansLight";
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
}
.pink {
  color: $main-color;
}
.blue {
  color: $sub-color;
}
.gray {
  color: $gray;
}
a {
  all: unset;
  cursor: pointer;
}
h2 {
  font-size: clamp(20px, 4vw, 28px);
}
h3 {
  font-size: clamp(16px, 3.2vw, 20px);
}
.between {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
}
.width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.side {
  padding: 0 $side-padding;
}
.sectionPadding {
  padding: $section-padding;
}
.gap {
  gap: clamp(10px, 3vw, 20px);
}
.rotate {
  transform: rotate(180deg);
}
.mob_ui {
  @media screen and (min-width: $pc) {
    display: none;
  }
}
.pc_ui {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    cursor: pointer;
    -webkit-user-drag: none;
  }
}
