$side-padding: clamp(20px, 3vw, 40px);
$mobile: 480px;
$tablet: 1280px;
$pc: $tablet + 1;
$main-color: #ffa7c6;
$sub-color: #004cce;
$gray: #5a5a5a;
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "GmarketSansLight";
  font-weight: 600;
  font-size: 16px;
}
body {
  font-family: "GmarketSansLight";
  font-weight: 600;
}
.pink {
  color: $main-color;
}
.blue {
  color: $sub-color;
}
.gray {
  color: $gray;
}
a {
  all: unset;
  cursor: pointer;
}
.between {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
}
.width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.side {
  padding: 0 $side-padding;
}
.gap20 {
  gap: 20px;
}
.flicking-camera {
  display: flex;
  align-items: center;
}
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
  }
  img {
    cursor: pointer;
    -webkit-user-drag: none;
  }
}
