.banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  #carousel2 {
    @media screen and (min-width: 787px) {
      display: none;
    }
  }
  #carousel1 {
    @media screen and (max-width: 786px) {
      display: none;
    }
  }
  .flicking-viewport {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    @media screen and (min-width: 787px) {
      aspect-ratio: 128/50;
    }
  }
  .panel {
    overflow: hidden;
  }
  img {
    height: 100%;
    @media screen and (max-width: 786px) {
      width: 100%;
      min-width: 600px;
      height: auto;
    }
  }
}
